.container {
    width: 300px;
    height: 500px;
    background-color: aqua;
}
#musics {
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    border-radius: 10px;

}
#player {
    width: 300px;
    height: 60px;
    background-color: blueviolet;
    border-radius: 10px;
}
#buttons {
    width: 300px;
    height: 40px;
    background-color: coral;
    text-align: center;
    border-radius: 20px;
}
button {
    width: 60px;
    background-color: cornflowerblue;
    position: relative;
    top: 20%;
}
button:hover {
    background-color: crimson;
}